<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Third Year at
      <a class="underline-link">Monash South Africa<u></u></a> majoring in Sotware Development and Computer Network Security. 
    </p>

    <p>
      As an aspiring software engineer and cyber security enthusiast, I enjoy learning about how developers can bridge the gap between engineering and security &mdash; 
      combining our technical knowledge with a keen eye for software security to create a robust systems. 
      My goal is to become an efficient software engineer that builds applications that are scalable and efficient under the hood while providing secure robust user experiences.
    </p>
    {% include employment-status.html %}
  </div>
</section>
