<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">     
          <img src="{{site.baseurl}}/img/featured/redapp/redapp-landing.png" alt="">    
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a>Red App</a>
        </div>
        <p>Third Year Final Project(FIT3047-FIT3048) Our team developed a tele-health web application that allows doctors to handle their patient 
          consultations virtually and also handle patient documents.
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
          <img src="{{site.baseurl}}/img/featured/chatty/chatty-landing.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a >Chatty </a>
        </div>
        <p>Webrtc video conferencing web application built using Nodejs and Socket.io. My personal take on video conferencing 
          using open source technology to try contribute to the opensource community during this pandemic.</p>
      </figcaption>
    </div> 
</section>
